:root {
    margin: 3%;
    padding: 1%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

textarea {
    background-color: rgb(223, 223, 223);
}

button {
    border-top-right-radius: 15px;
    background-color: rgba(37, 137, 209, 0.394);
    font-size: large;
    font-weight: bold;
}
#button10 {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background-color: yellow;
    font-size: medium;
}